@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
}

.btn-primary {
  @apply bg-[#16A34A] hover:bg-green-300 hover:text-black
    text-white px-6 py-3 rounded-lg
    font-semibold transition
    flex items-center gap-2 border-none;
}

body {
  font-family: "Urbanist", sans-serif;
}
